@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    login    : <b>admin@test.ca</b><br />
    password : <b>Abc123$</b><br />
    <br />
    If logged in the web page, possible to manage(add/update/delete) Todo list.<br />
    Otherwise, only show the list read only mode.<br />
</p>
